header.header
  .header__wrap
    .header__top
      .header__top-logo
        a.header__top-logo-link(href='#')
          span.icon-graduation
          |                     profi 
          br
          |  zno