extends ../layout/main

block variables
  -var title = 'Webpack + Pug';
  -var pageClass = 'index-page';

block content 
  section
    .container
      +item('item','des')
  section
    .container
      h1 WebPacks
      p hello my frends
  section
    .container
      h1 WebPacks
      p hello my frends
