// стилизация  видео фона
/* 1. Если не поддерживает support: */
@media (min-aspect-ratio: 16/9) {
    video {
        height: 100%;
        top: -100%;
    }
}
@media (max-aspect-ratio: 16/9) {
    video {
        width: 100%;
        // left: -100%;
    }
}
/* 2. Если поддерживает object-fit, overriding (1): */
@supports (object-fit: cover) {
    video {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
